* {
	margin: 0;
	padding: 0;
}
@font-face {
	font-family: OpenSans;
	src: url(../fonts/OpenSans.ttf);
}
@font-face {
	font-family: OpenSans-Medium;
	src: url(../fonts/OpenSans-Medium.ttf);
}
@font-face {
	font-family: avenir;
	src: url(../fonts/avenir.otf);
}
button {
	-webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
}
:root{
	--opensans: avenir;
	--white: #fff;
	--violet: #565674;
	--opensans-medium: OpenSans-Medium;

}
.container-fluid {
	padding: 0px;
}
.row {
	margin: 0px !important;
}
body {
	font-family: avenir;
}
#wrap {
	
}
#header {
	background-color: #000;
}
#inner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 3.5rem;
	width: 100%;
	padding: 0rem 2.5rem;
}
#header-inner1 {
	display: flex;
	flex-direction: row;
	/* justify-content: center; */
	align-items: center;
}
#header-logo {
	color: #fff;
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: 3px;
	line-height: 28px;
	margin: 0px 20px 0px 9px;
	font-family: var(--avenir);
}
#header-text {
	color: #fff;
	font-size: 0.8rem;
	font-weight: 500;
	margin-right: 12px;
	overflow: hidden;
	letter-spacing: .7px;
	font-family: var(--avenir);
}
#header-link {
	color: #fff;
	text-decoration: underline;
	cursor: pointer;
	font-family: var(--avenir);
	font-size: 0.8rem;
	font-weight: 500;
	letter-spacing: .5px;
}
#header-inner2 {
	justify-content: center;
}
#btn1 {
	height: 35px;
	width: 170px;
	border-radius: 40px;
	justify-content: center;
	font-family: var(--avenir);
	font-size: 0.9em;
	background-color: var(--violet);
	color: var(--white);
	border: none;
}
#btn1 > svg {
	height: 1.4em;
}
#btn1:hover {
	background-color: darkblue;
}
#btn2 {
	height: 35px;
	width: 170px;
	border-radius: 40px;
	justify-content: center;
	font-family: var(--avenir);
	font-size: 0.9em;
	border: none;
}
#btn2 > svg {
	height: 1em;
}
#banner1 {
	display: flex;
	flex-direction: row;
}
#banner-inner1 {
	height: 100%;
	min-width: 216px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: none;
	line-height: 24px;
	box-shadow: inset -62px 0 60px -30px rgb(216 216 233 / 25%);
	position: sticky;
	background-color: rgba(216, 216, 233, 0.2)
}
#menu-list {
	list-style-type: none;
}
#menu-list div > a {
	text-decoration: none;
    color: #41415a;
}
#highlight > a {
	font-weight: 500;
}
#menu-list div {
	height: 3.5rem;
	display: flex;
	padding: 16px 22px 16px 44px;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	cursor: pointer;
}
#menu-list div:hover {
	background-color: lightgrey;
}

#banner-inner2 {
	
}
input {
	background: #fff;
    border: none;
    /*box-sizing: border-box;*/
    color: #1f1f30;
    font-family: var(--avenir);
    font-size: 15px;
    height: 64px;
    letter-spacing: .43px;
    line-height: 16px;
    outline: none;
    padding: 20px 0 20px 48px;
    width: 680px;
}
#input-wrapper {
	margin-left: 90px;
	display: flex;
	flex-direction: row;
	/*justify-content: center;*/
}
#input-wrapper > i {
	background-image: url(../img/search.svg);
	background-position: 0;
    background-repeat: no-repeat;
    background-size: 20px 24px;
    height: 24px;
    /*left: 0;*/
    position: absolute;
    /*top: calc(20% - 10px);*/
    width: 20px;
    margin-top: 25px;
}
#input-wrapper > i:after {
    content: url(../img/search.svg);
    height: 0;
    overflow: hidden;
    position: absolute;
    width: 0;
    z-index: -1;
}
#btn3 {
	margin-top: 15px;
	height: 2.5rem;
	width: 180px;
	border-radius: 40px;
	background-color: #607aff;
	border:none;
	color: var(--white);
	font-size: 1em;
	font-weight: 500;
}
#btn3 > svg {
	height: .7rem;
}
p > svg{
	margin: 25px 0px 0px 25px;
    color: #4d68eb;
	border-radius: 10px;
	width: 40px;
	cursor: pointer;
}
#box {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-bottom: 125px;
}
#box1 {
	height: 420px;
	width: 380px;
	box-shadow: 0 22px 25px 0 rgb(228 228 234 / 22%), 0 9px 23px 0 rgb(228 228 234 / 50%);
	cursor: pointer;
	margin: 15px 0px 0px 70px;
	display: flex;
	flex-direction: column;
	justify-content: ;
}
#box1-inner {
	height: 300px;
	width: 250px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
#mercury {
	color: #9d9db0;
	text-transform: uppercase;
    font-size: .75rem;
    font-weight: 600;
    letter-spacing: 1.6px;
    line-height: 24px;
    padding: 30px 0px 0px 0px;
}
#box1-inner > h1 {
	padding: 20px 0px 0px 0px;
	font-size: 2.2rem;
	font-weight: 400;
	letter-spacing: .4px;
}
#box1-inner > h2 {
	padding: 20px 0px 15px 0px;
	font-size: 1rem;
	font-family: var(--avenir);
	font-weight: 400;
	letter-spacing: .3px;
	line-height: 24px;
}
table, th, td {
	border: 1px lightgrey;
	line-height: 35px;
	letter-spacing: 1.1px;
	align-self: center;
	font-size: .9rem;
	/*margin-left: 48px;*/
}
#day {
    color: #9d9db0;
    font-weight: 400;
    /*margin-right: 45px;*/
}
#table-cell {
	font-weight: 400;
}
#box1 a {
	border: none;
	color: #4d68eb;
	text-align: right;
	margin-top: 10px;
	font-size: 1rem;
}
#box1 a > svg {
	height: 1em;
	margin-left: 4px;
}
#box2 {
	height: 420px;
	width: 555px;
	box-shadow: 0 22px 25px 0 rgb(228 228 234 / 22%), 0 9px 23px 0 rgb(228 228 234 / 50%);
	margin:;
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
	align-items: center;
	margin-left: 30px;
	margin-top: 15px;
}
#box2 > h3{
	color: #9d9db0;
	text-transform: uppercase;
    font-size: .75rem;
    font-weight: 600;
    letter-spacing: 1.6px;
    line-height: 24px;
    padding-top: 45px;
}
#box2 > p {
	font-size: 2.9rem;
	margin: 15px 0px 0px 0px;
	letter-spacing: 2.8px;
	text-transform: none;
}
#box2  span {
	font-size: 1rem;
	text-transform: none;
}
#box3 {
	height: 510px;
	width: 475px;
	box-shadow: 0 22px 25px 0 rgb(228 228 234 / 22%), 0 9px 23px 0 rgb(228 228 234 / 50%);
	cursor: pointer;
	margin: 25px 0px 0px 70px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
#box3-inner {
	/*height: 0px;*/
	width: 340px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
#box3-inner > h3{
	color: #9d9db0;
	text-transform: uppercase;
    font-size: .7rem;
    font-weight: 700;
    letter-spacing: 1.6px;
    line-height: 24px;
    padding-top: 45px;
}
#box3-inner,#box4-inner > p {
	font-size: 2.7rem;
	margin: 15px 0px 0px 0px;
	letter-spacing: 2.8px;
	text-transform: none;
}
#box3-inner  span {
	font-size: 1rem;
	text-transform: none;
}
#box3 ul {
	list-style-type: none;
}
#menu {
	padding: 0
}
#menu li {
	margin-top: 8px;
}
#menu li h4 {
	color: #41415a;
	font-size: .9rem;
	font-weight: 500;
	letter-spacing: .3px;
}
#box3-inner2 {
	display: flex;
	align-self: flex-end;
}
/*#box3-inner2*/ #menu a {
	color: #4d68eb;
	align-items: flex-end;
    text-align: right;
    margin-top: 10px;
    font-size: 1rem;
    text-decoration: none;
}
#box4 {
	height: 510px;
	width: 488px;
	box-shadow: 0 22px 25px 0 rgb(228 228 234 / 22%), 0 9px 23px 0 rgb(228 228 234 / 50%);
    cursor: pointer;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center
}